.detail-card{

background:white;

padding:20px;

margin:20px;

border-radius:15px;

box-shadow:0 3px 10px rgba(0,0,0,0.1);

}


.detail-card p{

margin:10px 0;

}



.detail-buttons{

display:flex;

gap:10px;

margin:20px;

flex-wrap:wrap;

}

.detail-buttons button{

padding:12px 20px;

border:none;

border-radius:12px;

font-size:16px;

font-weight:bold;

cursor:pointer;

flex:1;

min-width:120px;

margin:0;

}


#editBtn{

background:#2196f3;

color:white;

}


#deleteBtn{

background:#e53935;

color:white;

}


#backBtn{

background:#4caf50;

color:white;

}