.visit-card{

    background:white;

    padding:20px;

    margin:20px;

    border-radius:12px;

    box-shadow:0 2px 8px rgba(0,0,0,.08);

    cursor:pointer;

}

.visit-card:hover{

    background:#f7f9fc;

}

.visit-card h2{

    color:#1f3a5f;

    margin-bottom:10px;

}